/* .profileImage {
  width: 400px;
} */

.styleOfAbout {
	/* background: blue; */
	padding: 80px 0 80px;
	min-height: 75vh;
}

.sectionAbout {
	/* background-color: red; */
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
}

.about-section {
	/* border: 1px solid green; */
}
.about-section .about-img {
	/* background-color: blue; */
	flex: 0 0 50%;
}

.about-img img {
	width: 300px;
}

.about-section .about-info {
	/* background-color: red; */
	flex: 0 0 50%;
}
