.profileImage {
	width: 400px;
}
.styleOfHeader {
	/* border: 1px solid black; */
	padding: 25px 100px;
}
@media only screen and (max-width: 768px) {
	.profileImage {
		width: 220px;
	}
	.styleOfHeader {
		padding: 25px 50px;
	}
}
