.profileImage {
	width: 400px;
}
.name-highlight{
	font-size: 36px;
	color: rgb(255, 123, 0);	
}
.styleOfHeader {
	/* border: 1px solid black; */
	padding: 25px 100px;
}
@media only screen and (max-width: 768px) {
	.profileImage {
		width: 220px;
	}
	.styleOfHeader {
		padding: 25px 50px;
	}
}
